# Количество попыток скачать файл с удалённого хоста
WGET_TRIES=3

# Задержка между попытками скачать файл с удалённого хоста (сек.)
WGET_WAIT=10 #seconds

# Путь к директории для хранения скаченых файлов
# EXT_DOWNLOAD_DIR='/home/ftp/distfiles'
EXT_DOWNLOAD_DIR='/home/denis/CrossTools/dl'

# Флаг для включения/отключения автоматического перевода системных сообщений
TRANSLATING_MESSAGES=n

# Параметры подключения к FTP серверу, для записи собранных образов
REPO_URL_FTP='regiboard@jenny'
REPO_PSW_FTP=12345
REPO_PACKETS='packets'

# Пути к проектам, чьи файлы используются при сборке образов
EXT_PROJECT_REGIGRAF='../regigraf'
